<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container-input">
            <form method="post">
                <input class="input" id="name" type="text" placeholder="name" name="name">
                <input class="input" id="mem" type="text" placeholder="mem" name="mem">
                <input class="input" id="time" type="text" placeholder="time" name="time">
                <input class="input" id="difficulty" type="text" placeholder="difficulty" name="difficulty">
                <input class="input" id="condition" type="text" placeholder="condition" name="condition">
                <input class="input" id="input" type="text" placeholder="input" name="input">
                <input class="input" id="output" type="text" placeholder="output" name="output">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
    </div>
</body>
</html>

