{% extends 'index.html' %}
{% block content %}
    <div class="container-input">
        <form action="" method="post" enctype="multipart/form-data">
            
            {{ form.hidden_tag() }}
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control", type="text") }}<br>
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.mem.label }}<br>
                    {{ form.mem(class="form-control", type="text") }}<br>
                    {% for error in form.mem.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.time.label }}<br>
                    {{ form.time(class="form-control", type="text") }}<br>
                    {% for error in form.time.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.difficulty.label }}<br>
                    {{ form.difficulty(class="form-control", type="text") }}<br>
                    {% for error in form.difficulty.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.condition.label }}<br>
                    {{ form.condition(class="form-control", type="text") }}<br>
                    {% for error in form.condition.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.inp.label }}<br>
                    {{ form.inp(class="form-control", type="text") }}<br>
                    {% for error in form.inp.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.output.label }}<br>
                    {{ form.output(class="form-control", type="text") }}<br>
                    {% for error in form.output.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.col_examples.label }}<br>
                    {{ form.col_examples(class="form-control", type="text") }}<br>
                    {% for error in form.col_examples.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            {% if input_files %}
                <p>{{ form.files }}</p>
            {% endif %}
            <p>{{ form.submit(type="submit", class="btn_submit") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
{% endblock %}
