{% extends 'index.html' %}
{% block content %}
    <div class="spoiler-content">
        <p> Добро пожаловать на сайт тестовой системы</p>
    </div>
    <div class="spoiler-content">
        <p>На нём Вы можете порешать различные задачи, но пока их немного. На моей платформе уже проводился школьный этам олимпиады школьников в 6 Лицее города Тамбова. Пользоваться ей очень просто, у вас есть вкладка Problems, в которой расположены все доступленые задачи для отправки решений. С помощью этого сайта Вы можете улучшить свой навык решения олимпиадных задач. Надеюсь, Вам понравится. Удачи!</p>
    </div>
{% endblock %}