<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tester</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="/"><h2 class="h2__header"><span class=h2__header__part1>Code</span><span class=h2__header__part2>Problems</span></h2></a>
            <a class="header__register_btn">Register</a>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="/">Status</a></li>
                <li><a href="/">Problems</a></li>
            </ul>
        </div>
    </div>
</body>
</html>