{% extends 'index.html' %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="problemset">
        <h2>{{ data.name }}</h2>
        <p class=problem-limits>Память: {{ data.mem }} Мб. Время: {{ data.time }} сек.
            Сложность: {{ data.difficulty }}</p>
        <p class="problem-condition">{{ data.condition }}</p>
        <h3>Входные данные</h3>
        <p class="problem-input">{{ data.inp }}</p>
        <h3>Выходные данные</h3>
        <p class="problem-output">{{ data.output }}</p>
        <h3>Примеры</h3>
        <table class="problem-test-table" cellpadding="2" cellspacing="1">
            <thead>
            <tr class="tr-head">
                <td class="td-head">Input</td>
                <td class="td-head">Output</td>
            </tr>
            </thead>
            {% for test, ans in data.examples %}
                <tr class="tr-table">
                    <td class="td-table">
                        {% for el in test %}
                            <p> {{ el }}</p>
                        {% endfor %}
                    </td>
                    <td class="td-table">
                        {% for el in ans %}
                            <p> {{ el }}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if current_user.is_authenticated %}
        <form method="post">
            <textarea placeholder="Your code here:" class="input-area" name="textarea" id="textarea"></textarea>
            <select class="form-control" id="classSelect" name="lan">
                <option value="cpp">C++</option>
                <option value="pas">Pascal ABC</option>
            </select>
            <button type="submit" class="btn btn-primary" id="to-status">Отправить</button>
        </form>
        {% else %}
        <h4>Для отправки решения задачи необходимо <a href="/register">зарегистрироваться</a> и авторизоваться!</h4>
        {% endif %}
    </div>
    <script>
        var btn = document.querySelector('#to-status');
        btn.addEventListener('click', () => {
            location.href = '/status';
        });
    </script>
{% endblock %}


{% block admin %}
    {% if current_user.is_authenticated and current_user.role == 1 %}
    <li><a class="menu-element" href="/edit/{{ data.id }}/">Change task</a></li>
    <li><a class="menu-element" onclick="return confirm('Удалить файл?')" href="/delete/{{ data.id }}/">Delete task</a></li>
    {% endif %}
{% endblock %}
