{% extends 'index.html' %}

{% block content %}

        <table class="table-problemset">
            <thead class="problemset-table-head">
                    <tr class="tr-head">
                        <td class="td-head td-fist">ID</td>
                        <td class="td-head">Задача</td>
                        <td class="td-head td-diff">Сложность</td>
                    </tr>
            </thead>
            {% for el in content_table%}
                <tr class="tr-table">
                    {% if el[0] in solved_by_user %}
                        <td class="td-table problem-id solved">{{ el[0] }}</td>
                    {% elif el[0] in unsolved_by_user %}
                        <td class="td-table problem-id unsolved">{{ el[0] }}</td>
                    {% else %}
                        <td class="td-table problem-id">{{ el[0] }}</td>
                    {% endif %}
                    <td class="td-table problem-name"><a href="/problemset/{{el[0]}}">{{ el[1] }}</a></td>
                    <td class="td-table problem-difficulty">{{ el[2] }}%</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}

{% block admin %}
    {% if current_user.is_authenticated and current_user.role == 1 %}
    <li><a class="menu-element" href="/add">Add Task</a></li>
    {% endif %}
{% endblock %}
