{% extends 'index.html' %}

{% block content %}

        <table class="table-problemset">
            <thead class="problemset-table-head">
                    <tr class="tr-head">
                        <td class="td-head td-fist">ID</td>
                        <td class="td-head">Задача</td>
                        <td class="td-head td-diff">Сложность</td>
                    </tr>
            </thead>
            {% for el in content_table%}
                <tr class="tr-table">
                    <td class="td-table problem-id">{{ el[0] }}</td>
                    <td class="td-table problem-name"><a href="/problemset/{{el[0]}}">{{ el[1] }}</a></td>
                    <td class="td-table problem-difficulty">{{ el[2] }}%</td>
                </tr>
            {% endfor %}
        </table>


{% endblock %}