{% extends 'index.html' %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}
{% block content %}
    <div class="status">
        <p>ID POS: {{ content[0] }}</p> 
        <p>NAME OF USER: {{ content[1] }}</p>
        <p>NUM TASK: {{ content[2] }}</p> 
        <p>LANGUAGE: {{ content[3] }}</p>
        <p>STATUS: {{ content[4] }}</p> 
        <p>CODE:</p> 
        <div class="spoiler-content">
            <pre class="prettyprint">
{{ content[5] }}
            </pre>
        </div>                  
    </div>
{% endblock %}